.community-page h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.community-page h2 {
  font-size: 1.5em;
  margin-top: 20px;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

.question-item,
.article-item {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  margin-bottom: 10px;
}

.question-item:hover,
.article-item:hover {
  color: #0056b3;
}

.poll-item {
  font-size: 1em;
  color: #333;
  margin-bottom: 10px;
}
