/* All the CSS related to answers Page*/
.answer {
  display: flex;
  flex-direction: row;
  border-bottom: #000000 1px dashed;
}

.answerText {
  width: 75%;
}

.answerAuthor {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-right: 16px;
}

.answerAuthor .profile-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 56px;
}

.answerAuthor .answeredByText {
  text-align: right;
}

.answer_author {
  color: green;
}
