.community-page h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.community-page h2 {
  font-size: 1.5em;
  margin-top: 20px;
  color: #333;
}

.community-page {
  padding: 25px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.question-item,
.article-item {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
  width: max-content;
}

.question-item:hover,
.article-item:hover {
  color: #0056b3;
}

.poll-item {
  font-size: 1em;
  color: #333;
  margin-bottom: 10px;
}

.new-article-button {
  display: flex;
  align-items: center;
  margin-left: 20px;
  height: 30px;
}

.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.article-form-container {
  width: 60%;
  margin: 24px auto;
}

.create-poll-button {
  display: flex;
  align-items: center;
  margin-left: 20px;
  height: 30px;
}
