.profile-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.profile-container img {
  height: 100%;
  object-fit: contain;
}

.profile-picture {
  height: 90%;
  aspect-ratio: 1;
}