.header {
  display: flex;
  align-items: center;
  height: 10%;
  width: auto;
  background: #fff1e1;
  padding-left: 40%;
  padding-right: 3%;
  border-bottom: 1px solid lightgray;
}

.headerContents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.shortStackLogo {
  height: 40px;
}

.title {
  font-size: 32px;
  font-weight: 800;
  color: #603615;
  font-family: Helvetica, sans-serif;
}

.headerButtons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  gap: 16px;
}

.notifications_btn {
  padding: 7px 9px;
  border: 1px solid #603615;
  background-color: #fff9f1;
  display: flex;
  border-radius: 6px;
  cursor: pointer;
  color: #603615;
}

.notifications_btn:hover {
  background-color: darkgray;
}

.profile_btn {
  background-color: transparent;
  border-style: none;
  width: 48px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_icon {
  color: rgb(49, 49, 49);
}

.profile_icon:hover {
  color: black;
}

.notif_indicator {
  background-color: blue;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  margin-left: 4px;
}
