.notification_list {
  padding: 16px 24px 16px 24px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.notification_controls {
  display: flex;
}

.settings_button {
  color: black;
  border: #000000 1px solid;
  font-size: 20px;
  padding: 8px 8px 4px 8px;
  margin-right: 10%;
  border-radius: 4px;
}

.settings_button:hover {
  background: lightgray;
}